{% extends 'base.html.twig' %}

{% block title %}
	Product - {{ product.name }}
{% endblock %}


{% block body %}
	<main>
		<header class="grid" style="grid-template-columns: 1fr auto auto;">
			<nav aria-label="breadcrumb"  style="--pico-nav-breadcrumb-divider: '✨';">
				<ul>
					<li><a href="{{ path('product_index') }}">Products</a></li>
					<li>{{ product.name }}</li>
				</ul>
			</nav>
			<a href="{{ path('product_edit', {id: product.id}) }}">
				<button>Edit product</button>
			</a>
			<a href="{{ path('product_delete', {id: product.id}) }}">
				<button class="contrast">Delete product</button>
			</a>
		</header>
		<table>
			<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">Size (ML)</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th scope="row">{{ product.id }}</th>
				<th scope="row">{{ product.name }}</th>
				<td>{{ product.description }}</td>
				<td>{{ product.size }}</td>
			</tr>
			</tbody>
		</table>
	</main>
{% endblock %}


